[Desktop Entry]
Type=Application
Name=Install Auxo Linux
GenericName=System installer
Comment=Install Auxo Linux to your computer
Exec=auxo-install
Icon=/usr/share/pixmaps/auxo-logo.png
Terminal=false
Categories=System;
Keywords=installer;calamares;
